.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    background-color: blueviolet;
}

.cards-title {
    font-size: 2rem;
    margin: 20px 0;
    color: white;
}